In [1]:
# Importing Libraries
import pandas as pd
import numpy as np

In [2]:
# Reading in CSV
df = pd.read_csv("Iowa_Liquor_Sales.csv")

/Users/jonahwork/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# Looking at columns
df.columns

Index(['Invoice/Item Number', 'Date', 'Store Number', 'Store Name', 'Address',
       'City', 'Zip Code', 'Store Location', 'County Number', 'County',
       'Category', 'Category Name', 'Vendor Number', 'Vendor Name',
       'Item Number', 'Item Description', 'Pack', 'Bottle Volume (ml)',
       'State Bottle Cost', 'State Bottle Retail', 'Bottles Sold',
       'Sale (Dollars)', 'Volume Sold (Liters)', 'Volume Sold (Gallons)'],
      dtype='object')

In [4]:
# Replacing spaces in column names
df.columns = df.columns.str.replace(' ', '')

In [5]:
# Ensuring no spaces left in column names
df.columns

Index(['Invoice/ItemNumber', 'Date', 'StoreNumber', 'StoreName', 'Address',
       'City', 'ZipCode', 'StoreLocation', 'CountyNumber', 'County',
       'Category', 'CategoryName', 'VendorNumber', 'VendorName', 'ItemNumber',
       'ItemDescription', 'Pack', 'BottleVolume(ml)', 'StateBottleCost',
       'StateBottleRetail', 'BottlesSold', 'Sale(Dollars)',
       'VolumeSold(Liters)', 'VolumeSold(Gallons)'],
      dtype='object')

In [9]:
# Dropping unneeded columns
df_drop = df.drop(columns = ['Invoice/ItemNumber','Address','StoreLocation','VolumeSold(Gallons)'])

In [11]:
# Dropping NAs
df_drop_na = df_drop.dropna()

In [16]:
# Checking shape to see how many columns have been removed
df_drop_na.shape

(12495975, 20)

In [18]:
# Subsetting 1 out of every 5 rows
subset = df_drop_na.iloc[::5, :]

In [19]:
# Checking shape to see if rows have been removed
subset.shape

(2499195, 20)

In [20]:
# Ensuring dataframe still looks right
subset.head()

,Date,StoreNumber,StoreName,City,ZipCode,CountyNumber,County,Category,CategoryName,VendorNumber,VendorName,ItemNumber,ItemDescription,Pack,BottleVolume(ml),StateBottleCost,StateBottleRetail,BottlesSold,Sale(Dollars),VolumeSold(Liters)
6,11/09/2015,2538,Hy-Vee Food Store #3 / Waterloo,WATERLOO,50702,7.0,Black Hawk,1701100.0,DECANTERS & SPECIALTY PACKAGES,962.0,Duggan's Distillers Products Corp,238,Forbidden Secret Coffee Pack,6,1500,$11.62,$17.43,6,$104.58,9.0
25,11/04/2015,3842,Bancroft Liquor Store,BANCROFT,50517,55.0,Kossuth,1701100.0,DECANTERS & SPECIALTY PACKAGES,962.0,Duggan's Distillers Products Corp,238,Forbidden Secret Coffee Pack,6,1500,$11.62,$17.43,3,$52.29,4.5
52,11/18/2015,2622,Hy-Vee Food Store / Iowa City,IOWA CITY,52240,52.0,Johnson,1081200.0,CREAM LIQUEURS,305.0,MHW Ltd,258,"Rumchata ""GoChatas""",1,6000,$99.00,$148.50,1,$148.50,6.0
84,11/21/2015,2619,Hy-Vee Wine and Spirits / WDM,WEST DES MOINES,50266,77.0,Polk,1081200.0,CREAM LIQUEURS,305.0,MHW Ltd,258,"Rumchata ""GoChatas""",1,6000,$99.00,$148.50,2,$297.00,12.0
101,01/26/2015,4742,No Frills Supermarkets #786 / Counci,COUNCIL BLUFFS,51501,78.0,Pottawattamie,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,35.0,"Bacardi U.S.A., Inc.",43128,Bacardi Superior Rum,6,1750,$15.00,$22.50,12,$270.00,21.0

In [25]:
# Changing date column to datetime type
subset['Date'] = pd.to_datetime(subset['Date'])

<ipython-input-25-0552a7bb5ddb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Date'] = pd.to_datetime(subset['Date'])

In [26]:
# Ensuring datatype has been changed for date
subset.dtypes

Date                  datetime64[ns]
StoreNumber                    int64
StoreName                     object
City                          object
ZipCode                       object
CountyNumber                 float64
County                        object
Category                     float64
CategoryName                  object
VendorNumber                 float64
VendorName                    object
ItemNumber                     int64
ItemDescription               object
Pack                           int64
BottleVolume(ml)               int64
StateBottleCost               object
StateBottleRetail             object
BottlesSold                    int64
Sale(Dollars)                 object
VolumeSold(Liters)           float64
dtype: object

In [29]:
# Creating Month column
subset['Month'] = pd.DatetimeIndex(subset['Date']).month

<ipython-input-29-8dcdc0426946>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Month'] = pd.DatetimeIndex(subset['Date']).month

In [31]:
# Creating Year column
subset['Year'] = pd.DatetimeIndex(subset['Date']).year

<ipython-input-31-9923a8e186b6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Year'] = pd.DatetimeIndex(subset['Date']).year

In [33]:
# Creating Month-Year column
subset['Month_Year'] = pd.to_datetime(df['Date']).dt.to_period('M')

<ipython-input-33-1c7277d501ea>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subset['Month_Year'] = pd.to_datetime(df['Date']).dt.to_period('M')

In [34]:
# Ensuring additional columns have been added properly and data looks correct
subset.head()

,Date,StoreNumber,StoreName,City,ZipCode,CountyNumber,County,Category,CategoryName,VendorNumber,...,Pack,BottleVolume(ml),StateBottleCost,StateBottleRetail,BottlesSold,Sale(Dollars),VolumeSold(Liters),Month,Year,Month_Year
6,2015-11-09,2538,Hy-Vee Food Store #3 / Waterloo,WATERLOO,50702,7.0,Black Hawk,1701100.0,DECANTERS & SPECIALTY PACKAGES,962.0,...,6,1500,$11.62,$17.43,6,$104.58,9.0,11,2015,2015-11
25,2015-11-04,3842,Bancroft Liquor Store,BANCROFT,50517,55.0,Kossuth,1701100.0,DECANTERS & SPECIALTY PACKAGES,962.0,...,6,1500,$11.62,$17.43,3,$52.29,4.5,11,2015,2015-11
52,2015-11-18,2622,Hy-Vee Food Store / Iowa City,IOWA CITY,52240,52.0,Johnson,1081200.0,CREAM LIQUEURS,305.0,...,1,6000,$99.00,$148.50,1,$148.50,6.0,11,2015,2015-11
84,2015-11-21,2619,Hy-Vee Wine and Spirits / WDM,WEST DES MOINES,50266,77.0,Polk,1081200.0,CREAM LIQUEURS,305.0,...,1,6000,$99.00,$148.50,2,$297.00,12.0,11,2015,2015-11
101,2015-01-26,4742,No Frills Supermarkets #786 / Counci,COUNCIL BLUFFS,51501,78.0,Pottawattamie,1062200.0,PUERTO RICO & VIRGIN ISLANDS RUM,35.0,...,6,1750,$15.00,$22.50,12,$270.00,21.0,1,2015,2015-01

In [39]:
# Exporting cleaned df to csv for use in R
subset.to_csv('/Users/jonahwork/Documents/R_Project_Iowa_Liquor/subset.csv')